<h2>Контакты</h2>
<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="email" type="text" class="form-control" placeholder="Введите E-mail">
  </div>
  <div class="form-group">

  <div class="form-group">
    <label>Сообщение</label>
    <input name="message" type="text" class="textarea" placeholder="Введите текст">
  </div>
  <div class="form-group">

  <button type="submit" class="btn btn-primary">Отправить</button>
